/* --- FONTS --- */
@font-face {
    font-family: "Lexend Deca";
    font-weight: 400;
    font-style: normal;
    font-display: auto;
    unicode-range: U+000-5FF;
    src: local("Lexend Deca"), url("/fonts/Lexend Deca/LexendDeca-Regular.ttf") format("truetype");
  }

@font-face {
    font-family: "Trap";
    font-weight: 400;
    font-style: normal;
    font-display: auto;
    unicode-range: U+000-5FF;
    src: local("Trap"), url("/fonts/Trap/trap-regular.otf") format("opentype");
  }

@font-face {
    font-family: "Trap";
    font-weight: 600;
    font-style: normal;
    font-display: auto;
    unicode-range: U+000-5FF;
    src: local("Trap"), url("/fonts/Trap/trap-medium.otf") format("opentype");
  }

@font-face {
  font-family: "Roboto Mono";
  font-weight: 400;
  font-style: italic;
  font-display: auto;
  unicode-range: U+000-5FF;
  src: local("Roboto Mono"), url("/fonts/Roboto Mono/RobotoMono-Italic.ttf") format("truetype");
}

/* --- COLOR VARIABLES --- */
:root {
  --accent-light: #ffd864;
  --accent-mid: #FF754A;
  --accent-dark: #7664FF;
  --background: white;
  --text: black;
}


/* --- RESETS --- */
* {
  margin: 0;
  padding: 0;
}

/* --- GLOBAL STYLES --- */
.circle {
  aspect-ratio: 1 / 1;
  border-radius: 50%;
  
}

.blur {
  filter: blur(8vw);
}

.light {
  background-color: var(--accent-light);
}

.mid {
  background-color: var(--accent-mid);
}

.dark {
  background-color: var(--accent-dark);
}