/* --- FONTS --- */
@font-face {
    font-family: "Lexend Deca";
    font-weight: 400;
    font-style: normal;
    font-display: auto;
    unicode-range: U+000-5FF;
    src: local("Lexend Deca"), url("/fonts/Lexend Deca/LexendDeca-Regular.ttf") format("truetype");
  }

@font-face {
    font-family: "Trap";
    font-weight: 400;
    font-style: normal;
    font-display: auto;
    unicode-range: U+000-5FF;
    src: local("Trap"), url("/fonts/Trap/trap-regular.otf") format("opentype");
  }

@font-face {
    font-family: "Trap";
    font-weight: 600;
    font-style: normal;
    font-display: auto;
    unicode-range: U+000-5FF;
    src: local("Trap"), url("/fonts/Trap/trap-medium.otf") format("opentype");
  }

@font-face {
  font-family: "Roboto Mono";
  font-weight: 400;
  font-style: normal;
  font-display: auto;
  unicode-range: U+000-5FF;
  src: local("Roboto Mono"), url("/fonts/Roboto Mono/RobotoMono-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "Roboto Mono";
  font-weight: 400;
  font-style: italic;
  font-display: auto;
  unicode-range: U+000-5FF;
  src: local("Roboto Mono"), url("/fonts/Roboto Mono/RobotoMono-Italic.ttf") format("truetype");
}

/* --- COLOR VARIABLES --- */
:root {
  --accent-light: #ffd864;
  --accent-mid: #FF754A;
  --accent-dark: #7664FF;
  --background: white;
  --text: black;
}


/* --- RESETS --- */
* {
  margin: 0;
  padding: 0;
}

a, a:visited {
  text-decoration: none;
  color: black;
}

/* --- GLOBAL STYLES --- */
.circle {
  aspect-ratio: 1 / 1;
  border-radius: 50%;
  
}

.blur {
  filter: blur(8vw);
}

.light {
  background-color: var(--accent-light);
}

.mid {
  background-color: var(--accent-mid);
}

.dark {
  background-color: var(--accent-dark);
}

.button-link {
  color: white !important;
  text-decoration: none;
  background-color: black;
  padding: 1rem 2rem 1rem 2rem;
  border-radius: 1rem;
  font-family: 'Roboto Mono', monospace;
  font-style: italic;
  position: relative;
  transition: all 0.3s ease;
}

.button-link:after {
  content: "";
  display: inline-block;
  height: 1.5rem;
  width: 1.5rem;
  position: absolute;
  margin-left: 0.5rem;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url(data:image/svg+xml;base64,PHN2ZyBpZD0iSWNvbnMiIHN0eWxlPSJlbmFibGUtYmFja2dyb3VuZDpuZXcgMCAwIDMyIDMyOyIgdmVyc2lvbj0iMS4xIiB2aWV3Qm94PSIwIDAgMzIgMzIiIHhtbDpzcGFjZT0icHJlc2VydmUiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiPjxzdHlsZSB0eXBlPSJ0ZXh0L2NzcyI+Cgkuc3Qwe2ZpbGw6bm9uZTtzdHJva2U6I2ZmZjtzdHJva2Utd2lkdGg6MjtzdHJva2UtbGluZWNhcDpyb3VuZDtzdHJva2UtbGluZWpvaW46cm91bmQ7c3Ryb2tlLW1pdGVybGltaXQ6MTA7fQoJLnN0MXtmaWxsOm5vbmU7c3Ryb2tlOiNmZmY7c3Ryb2tlLXdpZHRoOjI7c3Ryb2tlLWxpbmVqb2luOnJvdW5kO3N0cm9rZS1taXRlcmxpbWl0OjEwO30KPC9zdHlsZT48cGF0aCBjbGFzcz0ic3QwIiBkPSJNMjYuNCwyLjlMMy44LDE1Yy0wLjcsMC40LTAuNywxLjUsMC4xLDEuOGwyMC44LDguN2MwLjYsMC4zLDEuMy0wLjIsMS40LTAuOGwxLjctMjAuOCAgQzI3LjksMywyNy4xLDIuNSwyNi40LDIuOXoiLz48cGF0aCBjbGFzcz0ic3QwIiBkPSJNMjYsNEwxMywyMHY3LjNjMCwwLjksMS4yLDEuNCwxLjgsMC43TDE5LDIzIi8+PC9zdmc+);
  transition: all 0.3s ease;
  opacity: 0;
}

.button-link:hover {
  padding-right: 4rem;
}

.button-link:hover:after {
  opacity: 1;
}